# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/
.env

# Ignore LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz

# Ignore compiled LaTeX PDFs
invoices/*.pdf

# Ignore temporary files
*.tmp
*.swp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Flask debug files
instance/
*.sqlite3

#extra
invoice_template.pdf